html {
  background-color: #F2F3F5;
  overflow: -moz-hidden-unscrollable;
}
body {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
div {
  box-sizing: border-box;
  font-size: 12px;
}
.wrap {
  /* padding: 5px; */
  color: #333;
}
.input-area {
  position: sticky;
  background-color: white;
  padding: 10px;
  width: 100%;
  top: 0;
}
.input-area .input {
  background-color: #F2F3F5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  min-height: 50px;
  padding: 5px;
}

.input div,img {
  margin-bottom: 5px;
}
.input img {
  max-width: 100%;
}

.essay-content div,img {
  margin-bottom: 5px;
}
.essay-content img {
  max-width: 100%;
}

[contenteditable]:focus {
	outline: none;
}

.essay-list {
  padding: 10px;
}

.essay-list .essay-item {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-bottom: 10px;
}

.essay-item .essay-title {
  font-size: 11px;
  font-weight: bold;
  padding: 4px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.essay-title .essay-status {
  color: #888;
  font-size: 9px;
  font-weight: normal;
  cursor: pointer;
}
.essay-item .essay-content {
  border-top: 1px solid #E9EBF3;
  padding: 5px 7px;
}